<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="credit" class="in.zola.beans.CreditCardPayment"/>
    <bean id="debit" class="in.zola.beans.DebitCardPayment"/>
    
    <bean id="rst" class="in.zola.beans.RestaurantService">
    <property name="payment" ref="credit"></property>
    <constructor-arg name="payment" ref="debit"></constructor-arg>
    </bean>

</beans>